.container-1 {
    display: flex;
    [class^="box-"] {
        border: 1px #ccc solid;
        padding: 10px;
    }
    // flex:1 will give 3 even boxes
    // flex:2 will increase the with of box
    .box-1 {
        flex: 2;
    }
    .box-2 {
        flex: 1;
    }
    .box-3 {
        flex: 1;
    }
}
